NODE_ENV=development
PORT=5000

# SUPABASE CONFIGURATION
# Find these in your Supabase Project Settings -> API

SUPABASE_URL=https://your-project.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJueml1cW93Y2xrY2tzcGx0d21mIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODYzNjEwMzMsImV4cCI6MjEwMTkzNzAzM30.qjus0bOX-PjtWGJmngSC-EkDNufZ9kbyCSw6t2DB2Zs
SUPABASE_ANON_KEY_SECRET=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJueml1cW93Y2xrY2tzcGx0d21mIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4NjM2MTAzMywiZXhwIjoyMTAxOTM3MDMzfQ.Y1WmCIYWsG7379I_sNhY2qmcmMhc9j3l5ywSxT2lW4s
JWT_SECRET=c1f228ff-323e-4c12-9e41-927328776149

# DATABASE CONFIGURATION
# Find this in your Supabase Project Settings -> Database
DATABASE_URL="postgresql://postgres.[ref]:[password]@aws-0-ap-south-1.pooler.supabase.com:6543/postgres"

FRONTEND_URL=https://webguruji.online

# EMAIL (Optional if using Supabase Auth emails)
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASSWORD=
EMAIL_FROM=reply@webguruji.online